{% extends 'base/base.html' %}
{% load static %}
{% block header %}
    <script src="{% static 'js/echarts.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="row">
            <div class='col-12'>
                <div class="card card-success ">
                    <div class="card-header">
                        <h3 class="card-title">Bar Chart</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse"><i
                                    class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <!-- <canvas id="barChart" style="height:230px; min-height:230px"></canvas> -->
                            <div id="barChart" style="height:600px; width:100%"></div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
        <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
        <!-- Bootstrap 4 -->
        <script src="{% static ' plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <!-- ChartJS -->
        <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
        <!-- FastClick -->
        <script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
        <!-- AdminLTE App -->
        <script src="{% static 'js/adminlte.min.js' %}"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="{% static 'js/demo.js' %}"></script>
    <!-- page script -->
    <script>

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('barChart'));

        // 陌生0 了解1 掌握2  熟练3 精通4
        var xAxisData = {{ xAxisData|safe }};
        var customData = {{ customData|safe }};
        var legendData = {{ legendData|safe }};
        var dataList = {{ dataList|safe }};
        var encodeY = {{ encodeY|safe }};
        {#console.log(xAxisData)#}

        function renderItem(params, api) {
            var xValue = api.value(0);
            var currentSeriesIndices = api.currentSeriesIndices();
            var barLayout = api.barLayout({
                barGap: '30%', barCategoryGap: '20%', count: currentSeriesIndices.length - 1
            });

            var points = [];
            for (var i = 0; i < currentSeriesIndices.length; i++) {
                var seriesIndex = currentSeriesIndices[i];
                if (seriesIndex !== params.seriesIndex) {
                    var point = api.coord([xValue, api.value(seriesIndex)]);
                    point[0] += barLayout[i - 1].offsetCenter;
                    point[1] -= 20;
                    points.push(point);
                }
            }
            var style = api.style({
                stroke: api.visual('color'),
                fill: null
            });

            return {
                type: 'polyline',
                shape: {
                    points: points
                },
                style: style
            };
        }

        option = {
            tooltip: {
                trigger: 'axis',


                formatter: function (params) {
                    {#console.log(typeof(params[0].value));#}
                    if (typeof (params[0].value)==="object"){
                         var level = params[0].value.slice(1,).map((item) => {

                            switch (item) {
                                case 0 :
                                    return level='陌生';
                                case 1 || '1':
                                    return level =  '了解';
                                case 2 || '2':
                                    return level = '掌握';
                                case 3 || '3':
                                    return level = '熟练';
                                case 4 || '4':
                                    return level = '精通'
                            }



                    })
                    }else{

                            switch (params[0].value) {
                                case 0 ||'0':
                                    return '陌生';
                                case 1 || '1':
                                    return '了解';
                                case 2 || '2':
                                    return '掌握';
                                case 3 || '3':
                                    return '熟练';
                                case 4 || '4':
                                    return '精通'
                            }
                    }
                   ;
                    text = '';
                    for (var i = 0; i < level.length; i++) {
                        text1 = legendData.slice(1,)[i] + ':' + level[i] + '<br/>';
                        text += text1
                    }
                    var res = params[0].name + ':<br/>' + text;

                    return res

                },

                trigger: 'axis',

                axisPointer: {

                    type: 'line',

                    lineStyle: {

                        color: 'rgba(255, 255, 255, 0.37)'

                    }

                }


            },

            legend: {
                data: legendData
            },
            dataZoom: [{
                type: 'slider',
                start: 50,
                end: 70
            }, {
                type: 'inside',
                start: 50,
                end: 70
            }],
            xAxis: {
                data: xAxisData,
                axisLabel: {
                    textStyle: {
                        fontSize: 15
                    }
                }

                // nameTextStyle:{fontSize:30}
            },
            yAxis: {
                max: 5,
                min: 0,
                splitNumber: 5,
                // boundaryGap : [ 0.2, 0.2 ],
                type: 'value',
                axisTick: {
                    'show': false
                },
                axisLabel: {
                    textStyle: {
                        fontSize: 15
                    },
                    // 这里重新定义就可以
                    formatter: function (value) {
                        //  console.log(value)
                        var texts = []

                        if (value === 0) {

                            texts.push('陌生')

                        } else if (value === 1) {

                            texts.push('了解')

                        } else if (value === 2) {

                            texts.push('掌握')

                        } else if (value === 3) {

                            texts.push('熟练')

                        } else if (value === 4) {

                            texts.push('精通')
                        }


                        return texts
                    }
                },
            },
            series: [{
                type: 'custom',
                name: ['trend'],
                renderItem: renderItem,
                label: {
                    normal: {
                        borderWidth: 2,
                        {#show: true,#}
                        {#position: 'insiderRight',#}


                    }
                },
                encode: {
                    x: 0,
                    y: encodeY
                },
                data: customData,
                z: 100
            }].concat(echarts.util.map(dataList, function (data, index) {
                return {
                    type: 'bar',
                    animation: false,
                    name: legendData[index + 1],
                    itemStyle: {
                        normal: {
                            opacity: 0.5
                        }
                    },
                    data: data
                };
            }))
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    </script>
{% endblock %}