{% extends 'base/base.html' %}
{% load my_filter %}
{% block header %}
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'less/skill-person.css' %}"/>
{% endblock %}
{% block content %}
    <div class="cover model"></div>
    <div class="wrapper table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">序号</th>
                <th scope="col">技能名</th>
                <th scope="col">等级</th>
                <th scope="col">类别</th>
                <th scope="col">时间</th>
                <th scope="col" class="text-right"><span class="perform">操作</span></th>
            </tr>
            </thead>
            <tbody>
            {% for skill in skills %}
                {% if skill|type_judge %}     {# 判断返回的数据是不是元祖 #}
                    {% if skill.3 == '掌握' %} {# 判断返回的熟练度是什么 #}
                        <tr class="table-success">
                            {% include 'skill_list().html' %}
                        </tr>
                    {% elif skill.3 == '了解' %}
                        <tr class="table-info">
                            {% include 'skill_list().html' %}
                        </tr>
                    {% elif skill.3 == '熟练' %}
                        <tr class="table-warning">
                            {% include 'skill_list().html' %}
                        </tr>
                    {% elif skill.3 == '精通' %}
                        <tr class="table-danger">
                            {% include 'skill_list().html' %}
                        </tr>
                    {% else %}
                        <tr class="table-secondary">
                            {% include 'skill_list().html' %}
                        </tr>
                    {% endif %}
                {% else %}
                    {% if skill.skill_level == '掌握' %}
                        <tr class="table-success">
                            {% include 'skill_list{}.html' %}
                        </tr>
                    {% elif skill.skill_level == '了解' %}
                        <tr class="table-info">
                            {% include 'skill_list{}.html' %}
                        </tr>
                    {% elif skill.skill_level == '熟练' %}
                        <tr class="table-warning">
                            {% include 'skill_list{}.html' %}
                        </tr>
                    {% elif skill.skill_level == '精通' %}
                        <tr class="table-danger">
                            {% include 'skill_list{}.html' %}
                        </tr>
                    {% else %}
                        <tr class="table-secondary">
                            {% include 'skill_list{}.html' %}
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <div class="add-skill col-md-6 col-lg-4 col-10 s-form">
            <div class="row first">添加新技能</div>
            <form action="{% url 'SkillPer:add' %}" method="post" id="add-skill">
                <input type="hidden" id="user-id" name="userId" value="001">
                <input type="hidden" id="level" name="level">
                <input type="hidden" id="category" name="category">
                <div class="row">
                    <div class="d-inline-block left">技能名</div>
                    <div class="d-inline-block input-div">
                        <input type="text" name="skillName" class="form-control first-input" id="validationServer01"
                               placeholder="请输入技能名" maxlength="20" required>
                    </div>
                </div>
                <div class="reminder name-reminder">*技能名不能为空</div>

                <div class="row">
                    <div class="d-inline-block left">技能等级</div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle skill-level" data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            请选择
                        </button>
                        <div class="dropdown-menu level">
                            <a class="dropdown-item">了解</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">掌握</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">熟练</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">精通</a>
                        </div>
                    </div>
                </div>
                <div class="reminder level-reminder">*请选择技能等级</div>

                <div class="row">
                    <div class="d-inline-block left">技能类别</div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle skill-category"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            请选择
                        </button>
                        <div class="dropdown-menu category">
                            <a class="dropdown-item">前端</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">后端</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">测试</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">部署</a>
                        </div>
                    </div>
                </div>
                <div class="reminder category-reminder">*请选择技能类别</div>

                <div class="row last">
                    <button type="button" class="btn btn-info submit">提交</button>
                    <button class="btn btn-light cancel">取消</button>
                </div>
            </form>
        </div>
        <div class="edit-skill col-md-6 col-lg-4 col-10 s-form">
            <div class="row first">编辑技能</div>
            <div class="skill-id d-none"></div>
            <div class="skill-index d-none"></div>
            <div class="row">
                <div class="d-inline-block left">技能名</div>
                <div class="d-inline-block input-div">
                    <input type="text" class="form-control first-input" id="validationServer01"
                           placeholder="请输入技能名" maxlength="20" required>
                </div>
            </div>
            <div class="reminder name-reminder">*技能名不能为空</div>
            <div class="row">
                <div class="d-inline-block left">技能等级</div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle skill-level" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        请选择
                    </button>
                    <div class="dropdown-menu level">
                        <a class="dropdown-item">了解</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">掌握</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">熟练</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">精通</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="d-inline-block left">技能类别</div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle skill-category"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        请选择
                    </button>
                    <div class="dropdown-menu category">
                        <a class="dropdown-item">前端</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">后端</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">测试</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">部署</a>
                    </div>
                </div>
            </div>

            <div class="row last">
                <button type="button" class="btn btn-info confirm">确认</button>
                <button type='button' class="btn btn-light cancel">取消</button>
            </div>
        </div>
        {#        <button class="test">测试</button>#}
    </div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="{% static 'js/add_skill_person.js' %}"></script>
{% endblock %}

